html,
body {
  height: 100%;
  width: 100%;
}

.jumbotron {
  background-image: url("https://d33wubrfki0l68.cloudfront.net/590398ae9a27fec27fdac9450c0738d409cc84ff/c6bb7/static/2b5773beca118974180168ada813ba7b/an-introduction-to-low-level-programming.jpg");
  background-size: contain;
  color: white;
}

#cardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.navbar {
  background: #712cf9 !important;
  margin-bottom: 20px;
}

.nav-link {
  color: white !important;
  transition: color 0.25s !important;
}

.nav-link:hover {
  color: rgb(0, 0, 0) !important;
}

.navbar-brand {
  color: rgb(0, 0, 0) !important;
  font-weight: bold !important;
}

.btn.btn-primary {
  background-color: #712cf9 !important;
  /* border-color: black !important; */
  border-radius: 10px;
  border-style: solid;
}

.btn.btn-primary:hover {
  background-color: rgb(13, 92, 13) !important;
}

.card {
  border-radius: 4px;
  background: #e4e1e1d7;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
